# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/
*.log

# Node
node_modules/
dist/

# OS files
.DS_Store
Thumbs.db